.InfoBox{
    align-items: center;
  
}

.InfoBox__row{
    display: flex;
    justify-content: center;
    width: 100%;

}

p{
    color: black;
    margin: 0%;
    font-size: 1.5rem;
    font-weight: 400;
}