/* .SearchBox{
    text-align: center;
    margin-bottom: 25px;
    border-radius: 14px;
} */

.userinput .MuiOutlinedInput-root {
  border-radius: 14px; /* or any value */
  margin-right: 70px;
  border-width: 2px !important;
}

Button{
  
 
  background-color: #3cbbff !important;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 14px !important;
  height: 56px;
  width: 112px;
  font-size: 1rem !important;
}

h3{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}

.search-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 16px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.search-card button {
  border-radius: 6px;
  padding: 8px 16px;
  transition: transform 0.2s;
  
}
.search-card button:hover {
  transform: translateY(-2px);
}

.search-box{
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}